<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

        <% content_for :head do %>
<title>New party! <%= title_suffix %></title>
<% end %>
        
      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-xs-12">
<div class="party-showoptions">
    <h2>Let's game together.</h2>

    <h3>So <span class="green"><%= current_user.name %></span> you'll be playing       
        
        <% unless common_games.blank? %>
        <%= f.collection_select :game_id, common_games.each, :id, :name %> 
        <% else %>
        
        <!--- no shared games, show all games instead. Should you be able to start a party with someone you don't have any games in common with? -->
 <p>        <%= f.collection_select :game_id, Game.all, :id, :name %>
    </p>    
        <% end %>
<% unless previous_user_lookup.blank? %> with <span class="green"><%= previous_user_lookup.name %></span></h3>
<% end %>
    
</div>    
   <% unless party_option_lookup.blank? %>
 
    <p><%= party_option_lookup.content %></p>

    <% end %>
    
    <div style="display:none;">
    
    <%= f.collection_check_boxes :user_ids, User.all, :id, :name do |c| %>
      <% c.check_box %>
      <% c.label %>
        <% end %>
    </div>


<%= f.hidden_field :previous_user_id, { :value => (params[:previous_user])} %>

<%= f.hidden_field :party_option_id, { :value => (params[:party_option_id])} %>

    
 <div class="actions">
     
     <%= f.submit "Next", :class => "btn btn-primary" %>
  </div>

</div>

</div>
<% end %>
