<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

<div>
<p>

    </p>
</div>
<div>
<p>
    <%= if params[:prev_user].blank? do %>
    Add a player: <% end %>
    <% else %>

    <%= check_box("previous pg user", :user_id, {checked: true}) %>
    <% end %>
    </p>
</div>
<p>
    <%= f.collection_check_boxes :user_ids, User.all, :id, :name do |c| %>
    <div class="collection-check-box">
      <%= c.check_box %>
      <%= c.label %>
        <% end %>
</p>
<div>
<p>
    <u>Add more players</u>
    </p>
</div>
<div>
<h3>
    You're playing: <%= f.collection_select :game_id, Game.all, :id, :name do |b| %>
    <div class="collection-check-box">
        <% end %>
    </h3>
</div>
<h3>Tell us more:</h3>
<%= f.text_area :desc %>

<p>For example:</p>
<ul>How will we communicate?</ul>
<ul>What type of game will we play?</ul>
</div>
    <%= f.submit %>
  </div>
<br>
<% end %>