<p id="notice"><%= notice %></p>

<div class="party-showoptions">
    <h3>Let's play         <span class="green"><%= @party.game.name %></span>
 together.</h3>
    <% @party.users.each do |us| %>
    
    <span class="green"><%= us.name %></span>
    
            <% unless us == @party.users.last %>
            and
            <% end %>
    <% end %>
</div>
<div class="chat">
    
    <script src="/sync.js">
    </script>

    
    <div class="messages">
        <h2>Plan your gaming session here:</h2>
    <%= sync partial: 'message_row', collection: @party.messages,  :formats => [:html] %>
<%= sync_new partial: 'message_row', resource: Message.new %>
</div>
<div id="lastmessage"></div>
    <%= form_for @new_message, id:"submitmessage", :url => {:controller => 'messages', :action => 'create', :format => :js}, :remote => true do |c| %>
    <%= c.text_field :body, id: "newmessage" %>
    <%= hidden_field_tag(:theparty, @party.id) %>
    <%= hidden_field_tag(:theuser, current_user.id) %>
    <%= c.submit "Send", id: "s" %>
    <p class="smalltext">Don't give out any personal information - never transfer money or arrange to meet in person.</p>
</div>
<% end %>

<hr />

<h3>When you're finished, rate your experience below:</h3>
<%= form_for(@party)  do |f| %>
<% @labels = ["Good", "Bad", "Never happened" ] %>
      <%= f.collection_select :status, @labels, :to_s, :to_s %> 
<%= f.submit "Finish gaming session", class: "btn btn-primary" %>

<% end %>
<br />

    <a class="btn btn-default btn-xs" href="<%= user_path(current_user) %>"><span class="glyphicon glyphicon-chevron-left
        "></span> Back to your profile</a>