<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
      
      </style>
  </head>
  <body>
    <h2>Hi <%= @user.name %></h2>
    <h3>
      Someone has requested to play with you!
    </h3>
      <p>Go to <a href="http://gathr.gg/players/<%= @user.id %>">your profile</a> and click on the active session to start chatting!</p>
<p>Happy Gaming!</p>
      
      <p style="font-size: 0.8em;">Any feedback? You can reach us on <a href="http://twitter.com/gathrgg">twitter</a> or joe@gathr.gg. It's a little project of mine as I was fed up with too many toxic games. I hope you like it!</p>
  </body>
</html>