<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
      
      </style>
  </head>
  <body>
    <h2>Hi <%= @user.name %></h2>
    <h3>
      Welcome to Gathr.gg!
    </h3>
      <p>Get started:</p>
      <li>Go to <a href="http://www.gathr.gg">the gathr homepage</a> to search for people</li>
      <li>Set up a game with someone</li>
      <li>Send a message to arrange details</li>
      <li>Have a game (using whatever platform you like)</li>
      <li>Return us and rate!</li>
      
      <p style="font-size: 0.8em;">Any feedback? You can reach us on <a href="http://twitter.com/gathrgg">twitter</a> or joe@gathr.gg. It's a little project of mine as I was fed up with too many toxic games. I hope you like it!</p>
  </body>
</html>