<!--- complete, all features form. Now only used on edit -->
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        
      <h3><%= pluralize(@user.errors.count, "error") %>, oh no:</h3>

        <ul><p class="text-warning">
<% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </p>
      </ul>
    </div>
  <% end %>

<form role="form">
  <div class="form-group">

      <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="field">
    *<%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
      <div class="field">
          *<%= f.label :email %><br>
    <%= f.text_field :email  %>
  </div>
  <div class="field">
    *<%= f.label :password  %><br>
      <%= f.password_field :password %>
      <p class="smalltext">8 characters, one uppercase and one lowercase</p>
      <p class="smalltext">*required for signup</p>
      
  </div>
    
    </div> 
    
      
      
<div class="col-xs-12 col-sm-6 col-lg-4">
<h3>What games do you play?</h3>
 <%= f.collection_check_boxes :game_ids, Game.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
        <!--- make this maintain values on update --></div>
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
<!--Tag your profile:-->
<h3>I'm looking to be ...</h3>

    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |c| %>
    <div class="collection-check-box">
      <%= c.check_box %>
      <%= c.label %>
        </div>
        <% end %>
        
</div>
 <div class="col-xs-12">

     <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
      <h4><%= f.label "Intro" %></h4>
      <p>Tell us about yourself! This shows up in search results.</p>
      <%= f.text_area :about %>
      <span class="smalltext"><span id="chars">80</span> characters remaining</span>
      <h4>Biography </h4>
      <%= f.text_area :longdesc %>
    </div>

  </div>
</div>    <div class="col-xs-12 actions">
    <%= f.submit "Done", class: "btn btn-primary" %>
    </div>


      </form>

<% end %>