<!--- complete, all features form. Now only used on edit -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        
      <h3><%= pluralize(@user.errors.count, "error") %>, oh no:</h3>

        <ul><p class="text-warning">
<% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </p>
      </ul>
    </div>
  <% end %>

<form role="form">
  <div class="form-group">
<!--- show only on new -->      

<div class="col-xs-12">
    <a href="#em-pw-edit" data-toggle="collapse" role="button" class="btn btn-default">Change email address or password <span class="glyphicon glyphicon-pencil
"></span></a>
         <div id="em-pw-edit" class="collapse">
      <div class="field">
          <%= f.label :email %><br>
    <%= f.text_field :email  %>
  </div>
  <div class="field">
    <%= f.label :password  %><br>
      <%= f.password_field :password %>
      <p class="smalltext">8 charachters, one uppercase and one lowercase</p>
  </div>
    
    </div> 
    
               </div>
 
      <div class="col-xs-12 col-sm-6 col-lg-4">

             
            <h2>About you</h2>

      <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

     <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
      <h4><%= f.label "Intro" %></h4>
      <p>Tell us about yourself! This shows up in search results.</p>
      <%= f.text_area :about %>
      <span class="smalltext"><span id="chars">80</span> characters remaining</span>
      <h4>Biography </h4>
      <%= f.text_area :longdesc %>
    </div>
          <div class="field">
   
              <h2>Social links</h2>
              <%= link_to "New Profile Link", new_profilelink_path %>               
          </div>
  </div>
      
      
<div class="col-xs-12 col-sm-6 col-lg-4">
    <br>
<h3>What games do you play?</h3>
 <%= f.collection_check_boxes :game_ids, Game.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
        <!--- make this maintain values on update --></div>
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
<!--Tag your profile:-->
<h3>I'm looking to...</h3>

        
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |c| %>
    <div class="collection-check-box">
      <%= c.check_box %>
      <%= c.label %>
        </div>
        <% end %>
        
<h3>Allow donation?</h3>
        <% @labels_donate = ["Yes", "No"] %>
        <%= f.collection_select :allow_donation, @labels_donate, :to_s, :to_s %> 
</div>

</div>
    <div class="col-xs-12 actions">
      <%= f.submit "Save changes", class: "btn btn-primary" %>
        <%= link_to 'Cancel', @user, class: "btn btn-danger" %>
    </div>
      </form>

<% end %>