<div class="games-section">
    <% if @user.games.present? %>
<div class="profile-games-title row">
    <h2>Games I play:</h2>
    </div>
    
    <% gamestoshow = 10 %>
    
    <% c = @user.games.all.limit(gamestoshow) %> 
    
    <% c.each do |u| %> 
    <div class="profile-badge col-xs-6 col-sm-4 col-md-3 col-lg-2">
        
        <div class="user-type">
        <%= link_to u.name, game_path(u.slug) %>
            
        </div>

    <label class="game-label-cover">
    <div id="game-panel" class="select-panel game-selector">
        
        <div class="game-pic">
            <% image_tag u.game_picture, class: "game-pic" %>
            <img src="<%= u.image_url %>">
        </div>


</div>
    </label>
    
</div>
<% end %>
<% end %>
    
    
    
    <% unless @user.games.empty? %>
    <% if @user.games.count > gamestoshow %> 
    <div class="profile-badge col-sm-6">

                <div class="user-type">

        </p>Plus <%= @user.games.count - gamestoshow %> more</p>

</div>
    <label class="game-label-cover">

        <div class="game-pic">
<span class="">+</span>
</div>
</label>

</div>
    <% else %>
    
    <% end %>
    <% end %>
</div>