<div class="profilelinks">
            <% if logged_in? %>
<% if @user.id == current_user.id %>
            <% @user.profilelinks.each do |c| %>
    <div class="col-xs-12">
    <span class="spacer"><%= link_to c.name, c.url, class: "btn btn-default" %></span>
            <span class="spacer"><%= link_to "Edit",  edit_profilelink_path(c) %></span>
            <span class="spacer"><%= link_to "Delete",  profilelink_path(c), method: :delete %></span>
        </div>        
    <% end %>
    
    <%= link_to "Add a new social link", new_profilelink_path, class: "btn btn-default" %>
    
            <% else %>
    <!---- user's own links --->
    
      <% @user.profilelinks.each do |m| %>
    <span class="spacer"><%= link_to m.name, m.url, class: "btn btn-default" %></span>

            <% end %>
    <% end %>
              
    <% else %>
    <!--- public links -->
      <% @user.profilelinks.each do |n| %>
                
    <span class="spacer"><%= link_to n.name, n.url, class: "btn btn-default" %></span>
        <% end %>
    <% end %>
        </div>