<div class="activeparties col-xs-12">
    <% if findparties.present? %>
            
    <h6>Active sessions have at least one message.</h6>
<% findparties.each do |ap| %>
    
    <% unless ap.status.present? %>
    <% if ap.messages.count > @showmessages %>
    
        <% if ap.messages.count > 0 %>
        <a class="btn btn-primary each-party" href="<%= party_path(ap) %>">
        <p class="largetext">
            
        <% ap.users.each do |pu| %> 
            
        <%= pu.name %>
            
            <% unless pu == ap.users.last %>
            and
            <% end %>
            
        <% end %> <!-- end each user -->
        's session
            <span class="badge">
                            <%= ap.messages.count %>
            </span>
</p>                
    </a>
        <% else %> <!-- party has no messages -->
<a class="btn btn-inactive" href="<%= party_path(ap) %>">
    
        <p class="largetext">
            
        <% ap.users.each do |pu| %> 
            
        <%= pu.name %>
            
            <% unless pu == ap.users.last %>
            and
            <% end %>
            
        <% end %> <!-- end each user -->
        's session
            <span class="glyphicon glyphicon-chevron-right
"></span>
</p>                
    </a>
        <% end %>
    <% else %>
<% end %>
<% end %>
<% end %>
    <% else %>
    <p>No parties yet! </p>
<% end %>
    </div>