
<div class="col-xs-12">
<% if logged_in? %>
<% if @user.id == current_user.id %>
<h2>Your party options</h2>
<p>A party option starts a session with pre-set information. <%= link_to "Create a new party option", new_party_option_path, class: "btn-primary btn-xs" %></p>
    <% @user.party_options.each do |opo| %> 
<div class="result">
<p><%= opo.name %></p>
    <%= link_to "View full details", party_option_path(opo), class: "btn btn-info" %>
<%= link_to "Edit party option", edit_party_option_path(opo), class: "btn btn-warning" %>
    <%= link_to "Delete", party_option_path(opo), method: :delete, data: { confirm: 'Are you certain you want to delete this?' },
class: "btn btn-danger" %>
    <!--- doesn't work /\ -->
</div>
<br />
<% end %>
<p>Your users can also request a game with you:</p>
<% end %>
<% else %>
<h2>Play a game with <%= @user.name %>:</h2>

<% @user.party_options.each do |po| %>     
<div class="party-option-wrapper col-xs-6 col-sm-4 col-md-3">
    <div class="party-option">
    <h3 class="party-option-name"><%= link_to po.name, party_option_path(po) %></h3>
        <div class="profile-cta"><%= link_to "Go >>", party_option_path(po), class: "btn-primary btn-lg" %></div>
        </div>
    </div>

    <% end %> <!-- end party_options.each -->
<% end %>
    <br />
    <div class="col-xs-12">
<p><%= link_to 'Set up a game', new_party_path(:previous_user => @user.id), class: "btn btn-default btn-xs" %> with your own options.</p>
        </div>

</div>