<div id="public-partyoptions" class="col-xs-12">



<h2>Play a game with <%= @user.name %>:</h2>

<% @user.party_options.each do |po| %>     
<div class="party-option-wrapper col-xs-6 col-sm-4 col-md-3">
    <div class="party-option">
    <h3 class="party-option-name"><%= link_to po.name, party_option_path(po) %></h3>
        <div class="profile-cta"><%= link_to "Go >>", party_option_path(po), class: "btn-primary btn-lg" %></div>
        </div>
    </div>

    <% end %> <!-- end party_options.each -->
    
    <%= link_to 'Donate!', new_donation_path(:to_user_id => @user.id), class: "btn btn-primary btn-xl" %>
    
    <p><%= link_to 'Set up a game', new_party_path(:previous_user => @user.id), class: "btn btn-default btn-xs" %> with your own options.</p>

    <br />

</div>