<!--- complete, all features form. Now only used on edit -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        
      <h3><%= pluralize(@user.errors.count, "error") %>, oh no:</h3>

        <ul><p class="text-warning">
<% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </p>
      </ul>
    </div>
  <% end %>

<form role="form">
  <div class="form-group">
<!--- show only on new -->      

      <div class="col-xs-12 col-sm-6 col-lg-4">
          <h3>Basics</h3>
          <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
      <div class="field">
          <%= f.label :email %><br>
    <%= f.text_field :email  %>
  </div>
  <div class="field">
    <%= f.label :password  %><br>
      <%= f.password_field :password %>
      <p class="smalltext">8 charachters, one uppercase and one lowercase</p>
  </div>
    
    </div> 
    
      
    </div>
    <div class="col-xs-12 actions">
        <%= f.submit "Let's game on", class: "btn btn-primary" %>
    </div>


      </form>

<% end %>