<h2>All your parties<h2>
    
    <a class="btn btn-default" href="<%= user_path(current_user) %>"><span class="glyphicon glyphicon-chevron-left
        "></span> Back to your profile</a>
    
    <% @showmessages = -1 %>
    <%= render 'listparties' %>