
<p id="notice"><%= notice %></p>

<% content_for :head do %>
<title><%= @user.name %> | Profile <%= title_suffix %></title>
<% end %>
<div class="profile-top">
    <div class="header-content">
  <% unless @user.avatar.blank? %>
    <div class="row user-info">
        <div class="user-image">
        <%= image_tag @user.avatar.profile.url, class: "profile-avatar" %>
            </div>

        </div>
    <% end %>
<div class="profile-header">
<h2><%= @user.name %>    </h2>
    
        <div class="">
<h4><%= @user.about %></h4>
            
            <div class="profile-buttons">
            
<% if current_user.present? %>

    <% if @user.id == current_user.id %>
    <span class="green smalltext">(that's you...)</span>
    <p>
     
    <a class="btn-default btn" style="color: #222" href="<%= edit_user_path(@user) %>">Edit your profile! <span class="glyphicon glyphicon-pencil"></span></a>
        </a>
        </p>
    <% else %>
    <%= link_to 'Game with me! ', new_party_path(:previous_user => @user.id), class: "btn btn-primary" %>
    <% end %>
    <% else %>
    <%= link_to 'Game with me! ', new_party_path(:previous_user => @user.id), class: "btn btn-primary btn-lg " %>
    <% end %>
           </div> 
        </div>

   <%= render 'linkslist' %>
    </div>
</div>
</div>
<!--- end header -->
<div class="profile-body">
    <div class="col-xs-12" id="split">
        <div class="col-sm-6 longdesc">        <p><%= @user.longdesc %></p>
</div>
        <div class="col-sm-6" id="actiongrid">
    <div class="col-xs-12">
<% @user.tags.each do |x| %> 
    <div class="col-xs-2 profile-badge">
        <div class="user-type">
            <p>
            <%= x.name %>
            </p>
        </div>
    </div>
<% end %>
</div>

        </div> 
        <!--- end left --->
<div class="col-sm-12">
    <%= render 'gamelist' %>
</div>
</div>
</div>
<div class="col-xs-12">
    <h3>Your active sessions:</h3>
<% @showmessages = 0 %>
<%= render 'listparties' %>
<a href="/allparties" class="btn btn-default">See all your parties</a>
    </div>
    </div>
</div>