 <div class="container splash-two" id="whositfor">
                
        <div class="interest-header col-xs-12">
            <h2>We believe <span class="green">gaming is better together</span></h2>
        <h4>Here's what you can do with Gathr:</h4>
        </div>
          <div class="two-panel-wrapper">
                    
                    <div class="left-hand-panel col-xs-12 col-sm-12">
         <div id="accordion" role="tablist" aria-multiselectable="true">
                         <div class="row hosts">

             <div class="panel panel-default">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     <div class="" role="tab" id="headingTwo">
          <div class="col-xs-12 col-sm-10 header-cta">
            <h2>Teach eSports</h2>
            </div>
          <div class="dropdown-icon-cta col-xs-12 col-sm-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </div>
          </div>          
                         
          </a>
                 
    <div id="collapseOne" class="collapse col-xs-12" role="tabpanel" aria-labelledby="headingOne">
        <p class="leadin">If you already offer coaching or you'd like to start, Gathr makes it easy.</p> 
        <p>Set avaliablity, price and group or multi-lesson discounts.</p><p> We handle feedback, payment and scheduling.</p>
            <p class="smalltext"><a href="/players/new?form_type=1" class="on-page-navigation"><button type="button" class="btn btn-primary">Become an early partner &raquo;</button></a>
                </p>

      </div>
       </div>
    </div>
 <div class="row">

   <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <div class="" role="tab" id="headingTwo">
          <div class="col-xs-12 col-sm-10 header-cta">
            <h2>Get support from your fans</h2>
            </div>
          <div class="dropdown-icon-cta col-xs-12 col-sm-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </div>
          </div>
          </a>
    <div id="collapseTwo" class="collapse  col-xs-12" role="tabpanel" aria-labelledby="headingTwo">
        <p class="leadin">Let your fans join you for a game.
                </p>
        <p>Let your fans support you by having a paid game. Simply post a link to your Gathr profile and we'll do the rest.</p>
        <p class="smalltext"><a href="/players/new?form_type=1" class="on-page-navigation"><button type="button" class="btn btn-primary">Sign up for the beta &raquo;</button>
                </a></p>
      </div>
  </div>
        </div> <!-- end row 2 -->
              <div class="row">
   <div class="panel panel-default">
     <!-- Number three begin -->
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      <div class="" role="tab" id="headingThree">
          <div class="col-xs-12 col-sm-10 header-cta">
            <h2>Improve your game</h2>
            </div>
          <div class="dropdown-icon-cta col-xs-12 col-sm-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </div>
          </div>
          </a>
    <div id="collapseThree" class="collapse  col-xs-12" role="tabpanel" aria-labelledby="headingThree">
        <p>Learning from experienced and pro players can teach you better than any guides or video. Get instant feedback and improvements by arranging a session through Gathr.
                </p>
        <p class="smalltext"><a href="signup" class="on-page-navigation"><button type="button" class="btn btn-primary">Register for the first release &raquo;</button></a>
            </p>
      </div>
  </div>
      </div>
      <div class="row">
   <div class="panel panel-default">
       <!-- Number four begin -->
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      <div class="" role="tab" id="headingFour">
          <div class="col-xs-12 col-sm-10 header-cta">
            <h2>Find team mates</h2>
            </div>
          <div class="dropdown-icon-cta col-xs-12 col-sm-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </div>
          </div>
          </a>
    <div id="collapseFour" class="collapse  col-xs-12" role="tabpanel" aria-labelledby="headingFour">
        <p>Gathr will let you post listings seeking team mates. Don't rely on random matchmaking, play with the right people.
            <p class="smalltext"><a href="signup" class="on-page-navigation"><button type="button" class="btn btn-primary">Get an update when it's ready &raquo;</button>
                </a>
        </p>
      </div>
  </div>

             
</div><!-- end row 2 -->
    </div> <!-- end accordion -->
        </div><!--- end left-hand-panel-->         
</div> <!-- end two-panel-wrapper -->

</div> <!--- end second 'page' -->