<div class="container">
<h2>Let your fans support you - however you want</h2>

<h3>Your pricing, your rules</h3>

<p>You choose the price and how to play, all we ask for is that:</p>
          <div class="explainer-instructions">

 <p><span class="glyphicon explainer glyphicon-gift"></span>
Donation minimum = $1</p>
 <p><span class="glyphicon explainer glyphicon-sunglasses"></span>
Supporter game minimum = $2 </p>
 <p><span class="glyphicon explainer glyphicon-education"></span>
Coaching session minimum = $5</p>
      </div>
<h3>What does it cost?</h3>

<p>Nothing. We take a small percentage of donations and payments to cover our costs. These are:</p>
          <div class="explainer-instructions">

 <p><span class="glyphicon explainer glyphicon-gift"></span>
     25% of a donation </p>
 <p><span class="glyphicon explainer glyphicon-sunglasses"></span>
     20% of a supporter session</p>
              <p><span class="glyphicon explainer glyphicon-education"></span>10% of a coaching session</p>
              </div>
<p>To compare, <strong>Twitch's share of subscriber fees starts at 50%!</strong></p>

<a class="btn btn-primary btn-xl" href="http://app.gathr.gg/signup"> Sign up and earn money from gaming</a>

    <h2>Learn more</h2>
      <a href="what-is-it.html">How does it work?</a><br />

<a href="security-support-help.html">Security and Support</a><br />
<a href="payments-cards.html">Getting paid</a><br />
      </div>
    </div>