<div style="padding: 25px;">
<h2>PRIVACY STATEMENT</h2>
<br />
Your privacy is important to Gather Gamers Ltd.  This privacy statement provides information about the personal information that Gather Gamers Ltd collects, and the ways in which Gather Gamers Ltd uses that personal information.
<br />
Credit

This document was created using a Contractology template available at http://www.contractology.com.
<br />
<h3>Personal information collection</h3>
<br />
Gather Gamers Ltd may collect and use the following kinds of personal information: 
<br />

	information about your use of this website;<br />

	any other information that you send to Gather Gamers Ltd.
<br />

Using personal information
<br />

<h3>Gather Gamers Ltd may use your personal information to: </h3>
<br />

	administer this website;
	personalize the website for you;
	enable your access to and use of the website services;
	send occasional marketing communications;
<br />

Where Gather Gamers Ltd discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. 
<br />

In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Gather Gamers Ltd may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.

<p>Securing your data</p>
<p>
Gather Gamers Ltd will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 

Gather Gamers Ltd will store all the personal information you provide on its secure servers. 
</p>

Cross-border data transfers

Information that Gather Gamers Ltd collects may be stored and processed in and transferred between any of the countries in which Gather Gamers Ltd operates to enable the use of the information in accordance with this privacy policy.

You agree to such cross-border transfers of personal information.
<br />

Updating this statement
<br />

Gather Gamers Ltd may update this privacy policy by posting a new version on this website.  

You should check this page occasionally to ensure you are familiar with any changes.  
<br />

Other websites
<br />

This website contains links to other websites.  
<br />

Gather Gamers Ltd is not responsible for the privacy policies or practices of any third party.
<br />

Contact Gather Gamers Ltd
<br />

If you have any questions about this privacy policy or Gathr Gamers's treatment of your personal information, please write:
	by email to 'joe . gray 2 @ gmail . com' - remove spaces
    </div>
<a href="/">
<h3>BACK</h3>
    </a>