      <div class="container">
          <div class="header-explainer">
      <h1><span class="black">Gathr</span><span class="green">.gg</span></h1>
          </div>
          <h2>We handle payments, leaving you to concentrate on having games and making great content</h2>

<h3>Security, Support and Help</h3>

<h4>What if someone doesn't attend their subscriber session?</h4>

<p><span class="glyphicon glyphicon-question-sign
 explainer"></span>Payment is taken before the session or game, so you don't have to worry about wasting time with no-shows. Plus, we remind everyone close to the time.</p>

<h4>What protects my reputation?</h4>
<p>
<span class="glyphicon explainer glyphicon-heart-empty
"></span>Feedback is left by both parties, just like Airbnb and Ebay.</p>

<h4>Need to know more or have a support question?</h4>
<p><span class="glyphicon glyphicon-envelope
 explainer"></span>Let us know! <a href="question@gathr.gg">question@gathr.gg</a></p>
          
          <nav>
    <h2>Learn more</h2>
<a href="what-is-it.html">How does it work?</a><br />

<a href="pricing-payments.html">Pricing and Payments</a>
<br />

<a href="payments-cards.html">Getting paid</a><br />
</nav>
      </div>

      </div>