<div class="two-col-wrapper">

    <div class="signup-split-header"><h3>Let's game together. First, who are you?</h3></div>
    <div class="splash-standard">
        <a href="/players/new?form_type=1">
    <div class="left signup-choice col-sm-6">
        <div class="signup-choice-text">
        <h2>I am a Streamer or YouTuber &raquo;</h2>
        </div>
    </div>
            </a>
                <a href="/players/new">
    <div class="right signup-choice col-sm-6">
                <div class="signup-choice-text">        <h2>I am looking for teammates, coaching or supporting my favorite streamers &raquo;</h2>
            </div>
</div>
        </a>
    </div>
    </div>