<% content_for :head do %>
<title>Earn an income from streaming <%= title_suffix %></title>
<% end %>

<div class="container explainer-wrapper">

     
    <div class="jumbotron whatis">
     <h2 class="green">New ways for fans to support you</h2>
        
        <h3><span class="keypoint">Coaching</span> <span class="keypoint">Paid fan games</span><span class="keypoint">Donations</span></h3>
     </div>
    
          <div class="explainer-instructions">
<span class="glyphicon glyphicon-tasks
 explainer"></span>Set the game options
          <br />
    <span class="glyphicon glyphicon-pencil
explainer right"></span>Your fans sign up and pay<br />       
              <span class="glyphicon glyphicon-flash explainer"></span>We pay you instantly
              <br />
<p><span class="glyphicon glyphicon-headphones
explainer"></span>You play a game using whatever platform you prefer</p>
</div>
          <h3>What you want to offer fans <span class="green">is up to you</span>, we  help you do it. </h3>
              
              <h3>There are <span class="green">no payments or subscriptions</span>, we just take a small percentage of fees.</h3>

<a class="btn btn-primary btn-xl" href="http://localhost:3000/players/new?form_type=1">Get paid for gaming and streaming</a>

    <div class="explain-footer">
<h3>Learn more about:</h3>

<a href="pricing-payments.html"><p>Pricing and Payments</a>
<br />
<a href="security-support-help.html">Security and Support</a><br />

<a href="payments-cards.html">Getting paid</a><br /></p>
          </div>

    </div>