<%= form_for @donation do |s| %>

<%= s.label :amount %>
<%= s.text_field :amount %>

<%= s.hidden_field :to_user_id %>
<%= s.hidden_field :from_user_id %>

<%= s.submit "Confirm and Pay" %>
<% end %>