<h2><%= @game.name %></h2>
<h3>Chat with other players to arrange a game</h3>
<% content_for :head do %>
<title><%= @game.name %> <%= title_suffix %> | <%= @notifier %></title>
<% end %>
    <div class="">
        <%= form_for @new_message, id: "submitmessage", :url => {:controller => 'messages', :action => 'create', :format => :js}, :remote => true do |c| %>
                        <div class="col-xs-12 col-sm-8 messages">

                    <div class="row">
            <%= c.text_field :body, id: "newmessage",  class: "col-sm-10 col-md-8 col-lg-6 col-xs-10"  %>
        
<%= hidden_field_tag(:thegame, @game.id) %>
            
                        <!-- need to load this on page load -->
                        <%= hidden_field_tag :anon_user_id, truncate(session.id, length: 5, :omission => '' ) %>
        
        <%= c.submit "Send", id: "send", class: "col-xs-2 col-sm-2" %>
        </div>
    <p class="smalltext">Don't give out any personal information - never transfer money or arrange to meet in person.</p>

        <%= sync_new partial: 'message_row', resource: Message.new %>
        
        <!--- older messages -->
        <%= sync partial: 'message_row', collection: @game.messages.order("created_at desc").limit(50),  :formats => [:html] %>

</div>
        
                 <div class="col-xs-12 col-sm-4 messages">
                     <h3>Search</h3>
                     <p>You can also search for registered users and start private messaging:</p>
                     <a href="<%= new_search_path %>" class="btn btn-primary btn-md" action="button">
                     Search
                     </a> 
                   <hr />
                      <p><h3>Example: </h3>
            <p><b>Rick Sanchez:</b> [PC] Need a support player to join stack. 
                <br /><b>Jerry Smith: </b>[XBOX] Looking to play against someone.
        </p>
                     <hr />
                     <p>Sign up to appear in search results</p>

                     <a href="<%= new_search_path %>" class="btn btn-default" action="button">
                     Sign up
                     </a>
        <p class="smalltext">
        Fed up with too many toxic games, I put this together in the hope we can all have better experiences gaming. Give us some feedback! What do you want to see next?
<br /><a href="http://www.twitter.com/gathrgg/">Twitter</a>
            <br /><a href="mailto:joe@gathr.gg">Email</a>
        </p>
                             </div>

            <% end %>
</div>
