<%= form_for @tag do |s| %>

<%= s.label :name %>
<%= s.text_field :name %>

<p>Homepage description</p>

<%= s.label :name %>
<%= s.text_field :display_name %>

<p>Homepage icon</p>

<%= s.label :icon %>
<%= s.text_field :icon %>

<%= s.submit %>
<% end %>