<% provide(:title, "Log in") %>

<h2 class="green">Log in</h2>
<%= form_for(:login_session, url: login_path) do |f| %>
<p>
    
<%= f.label :email %>
<%= f.email_field :email %>
</p>
<%= f.label :password %>
<%= f.password_field :password %>
<p>
    <%= check_box_tag(:remember_me) %>
    <%= label_tag(:remember_me) %>
	
    <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
</p>