<div class="login-split col-xs-12 col-sm-4">
<%= render 'login' %>
</div>

<div class="signup-split col-xs-12 col-sm-8">
    <h2 class="green">Sign up</h2>
<%= render :template => "users/_form" %>
    
</div>