

<%= form_for @search do |s| %>

<div class="container"><p id="notice"><%= notice %></p></div>
<div class="container search-content">

    <p class="smalltext">Choose a game and what you want to do.</p>
    <div class="row " id="game-selectors">
    
        <% #these need to de-select too #%>
    <% counter = 0 %>
<% list_games.each do |d| %>
    
    <% counter += 1 %>
    <label class="game-label-cover" id="<%= counter %>">
<div class="status-cover green">
        <span id="selected-status<%= counter %>" class="game-select-span"></span>
        </div>
    <div id="game-panel<%= counter %>" class="select-panel game-selector">
            

        
        <div class="game-pic">
            <% image_tag d.game_picture, class: "game-pic#{counter}" %>
            <img src="<%= d.image_url %>">
        </div>

        <%= s.radio_button :game, d.name, class: "gamechoice-invis-checkbox each-button", id: "game-button#{counter}" %>
    <br />

</div>
    <div class="select-label">
        <%= s.label :game, d.name, class: "game-name", id: "#{counter}" %>
        </div>
    </label>
    
    <% end %>

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p><%= s.text_field :game, placeholder: "Other...", class: "other-game text-entry" %></p>
        </div>

    </div>
    <div class="breaker"></div>
<div class="row">

<% tcount = 0 %>
<% list_user_tags.each do |tag| %>
<% tcount += 1 %>
    <label class="tag-label-cover" id="<%= tcount %>">
        <div id="tag-panel<%= tcount %>" class="select-panel tag-selector">
            <div class="status-cover green">
        <span id="tag-selected-status<%= tcount %>"></span>
        </div>
            <%= s.radio_button :user_profile_tag, tag.name, class: "each-button", id: "#{tcount}" %>

            
                <div class="select-label">
<%= s.label :user_profile_tag,
tag.display_name, class: "tag-name" %>
            </div>
<span class="<%= tag.icon %> hp-feat-icon"></span>

        </div>
</label>
    <% end %>
</div>
    <div class="submit">
<%= s.submit "Go", :class => "btn btn-primary btn-lg" %>

        </div>
<% end %>
</div>