<div class="homepage-nav jumbotron">
    <h2>Hey <%= current_user.name %></h2>
    
    <p>You can:</p>
    <nav>
        <%= link_to "Log out", logout_path, class: "btn btn-default"   %>
        <%= link_to "View profile", user_path(current_user), class: "btn btn-default"  %>
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-default"  %>
        <%= link_to "Start a session", new_party_path, class: "btn btn-default"  %>
    </nav>
</div>
<% flash.each do |message_type, message| %>
    <div id="message" class="alert alert-<%= message_type %>"><%= message %><%= notice %></div>
      <% end %>

<h2 class="msg">Or find new players:</h2>