
            <div class="intro-hp">
                <div class="describer">
<h3 class="landing-h3"><span class="green lrg">Gathr</span> is a platform to connect gamers.</h3>
                    <p class="homepage-desc">For all games and players, we believe <span class="green"> gaming is better together </span></p>
            
              </div>
                    <div class="cta-holder">
<div class="primary-cta">
                         <a href="explainer" class="hp-cta btn btn-default" role="button">
                
            
                <h3>Learn more
                 <span class="homepage-glyph glyphicon glyphicon-menu-right

" aria-hidden="true"></span>
                    </h3>
                </a> 
                        </div>
                        
                        <div class="hp-navigation">
                        
            <a href="#search" class="on-page-navigation">
               <button class="hp-cta btn btn-default">
                
                
                <h3>Get lessons
                 <span class="homepage-glyph glyphicon glyphicon-menu-down

" aria-hidden="true"></span>
                    </h3>
                
                </button>
                            </a>

           <a href="#search" class="on-page-navigation">
               <button class="hp-cta btn btn-default">
                
                
                <h3>Find team mates
                 <span class="homepage-glyph glyphicon glyphicon-menu-down

" aria-hidden="true"></span>
                    </h3>
               </button>
                </a>
                            
  <a href="#search" class="on-page-navigation">
               <button class="hp-cta btn btn-default">               
                
                <h3>Discover streamers
                 <span class="homepage-glyph glyphicon glyphicon-menu-down

" aria-hidden="true"></span>
                    </h3>
                    </button>
                </a>
                        
                  

                        </div>
</div>
        </div>
                <a href="/what-is-it">
    <div class="streamer-yt">
        
<h3>I am a Streamer or YouTuber
            <button type="button" class="btn btn-default btn-home" aria-label="Left Align"><span class="green glyphicon glyphicon-chevron-right
" aria-hidden="true"></span>
    </button>
    </h3>
        </div>
</a>
    </div>
<% flash.each do |message_type, message| %>
    <div id="message" class="alert alert-<%= message_type %>"><%= message %><%= notice %></div>
      <% end %>

    </div>
<div id="search"></div>
<h2 class="msg">Better gaming is a few clicks away.</h2>
