<div class="splash-hp">
    
<div class="jumbotron app-home">
    <div class="container">
      <div class="right-actions actions-home">
        <a data-toggle="collapse" data-target="#open-controls" ><span class="glyphicon glyphicon-option-vertical
 header-nav home-option"></span>
        </a>
        
        <div id="open-controls" class="collapse">
    <% if logged_in? %>
            <div class="user-action">
<p>
                <%= link_to "Log out", logout_path %>
                </p>
                    </div>
            <div class="user-action">
                <p><%= link_to "Profile", user_path(current_user) %></p>
        </div>
<% else %>
        <div class="user-action">
<p><%= link_to 'Log in', login_path %></p>
        </div>
        <div class="user-action">
<p><%= link_to 'Sign up', new_user_path %></p></div>
        
    <% end %>
        </div>
        </div>
    
<h2 class="green">Better players, better games</h2>
<h4>Find people that game like you do.</h4>
         
    </div>
    
</div>
<% flash.each do |message_type, message| %>
    <div id="message" class="alert alert-<%= message_type %>"><%= message %><%= notice %></div>
      <% end %>
<% if logged_in? %>
<% render 'reg_nav' %>
<% else %>
<% render 'static' %>
<% end %>
<%= render 'new' %>