<% content_for :head do %>
<title>Search <%= title_suffix %></title>
<% end %>
<h2>Results</h2>
<p id="notice"><%= notice %></p>

<h3>
<% if @search.game.present? %>

    People playing <span class="green"><%= @search.game %></span>
    <% end %>
<% if @search.user_profile_tag.present? && @search.game.present? %>
who are
    <% end %>
    <% if @search.user_profile_tag.present? %>
    <span class="green"><%= @search.user_profile_tag %></span>
    <% end %>    
      
</h3>
<% unless logged_in? %>
<h4>Be listed here: <a href="/signup" style="color: #222;">Sign up!</a></h4>
<% end %>
<% if @search.users.empty? %>
<p>No one yet! Sign up and be the first.</p>
<% end %>

<% unless @search.users.empty? %>

<div class="results">
    
    <% @search_users.each do |m| %>
    
    <a href="<%= url_for(m) %> ">
        <div class="col-xs-6 col-sm-3 col-lg-2">
            <div class="result">
            <div class="user-image">
            <% if m.avatar.blank? %>
<img src="/default-picture.png">
            <% else %>
            <%= image_tag m.avatar.profile.url %>
            
            <% end %>
            </div>
            <h3><%= link_to m.name, m, :class => "results-text" %></h3>
            <p><%= m.about %></p>
                <%= link_to 'Set up a game', new_party_path(:previous_user => m.id), class: "btn btn-primary" %>
        
          </div>
          </div>
        </a>
    <% end %> <!-- end each users -->
    </div>

    <% end %>
  </div>  
    <div class="actions col-xs-12">
        <%= will_paginate @search_users %>
<p>View profile to start a game!</p>

<p><%= link_to "Search again",new_search_path %>
    </p></div>
<br />
