<p>
    

    <div class="msguser">
        <b><p>
            <% if message.user_id.present? %>
            <p><a href="<%= user_path(message.user)%>" class="user-message"><%= message.user.name %></a>
                <% else message.user_identifier.present? %>
                <%= message.user_identifier %><span class="smalltext"> (anon)</span>
                <% end %>
                :
        </b>
        <%= message.body %></p>
    </div>
</p>