//= require application

/* RESET */


.right-actions a {
    color: #eee;
}

.messages {
    border: 1px solid #eee;
    padding: 15px;
    height: auto;
}

#open-controls {
 background-color:  #0b1733;  
/* background-color:  #eee;  */
    margin-top: 31px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.user-action {
    width: 80px;
    height: 30px;
}

.header-nav {
 font-size: 28px;
    padding-top: 37px;
}

.actions-home p {
    font-size: 12px;
}

.home-option {
    font-size: 18px;
}

.right-actions {
   float: right;
    width: 80px;
        margin-right: 2%;
    text-align: center;
}

.actions-home {
  position: absolute;
    right: 2%;
    top: 8px;
}

.nav-default {
    background-color: #252c46;
    min-height: 100px;
}

.the-h1 {
    float: left;
    height: 100px;
/*    width: 75%;*/
    margin-left: 20px;
    margin-right: 0;
    padding: 1px;
}



/*
    @media screen and (max-width : 440px) {
         .the-h1 {
          width: 100%;   
         }
         .user-action {
          width: 50%;
          float: left;
             text-align: center;
         }
         .right-actions {
         width: 100%;
         float: left;
         }
         .nav-default {
          height: 100%;   
         }
     }
*/

a {
 color: #555;
}

p a {
}

.alert {
 margin-bottom: 0px;   
}

.underline {
  color: #555;
border-bottom: 1px solid #555;

}

.underline a {
border-bottom: 1px solid #555;
}

.underline a:hover {
border-bottom: 1px solid #ccc;
    text-decoration: none;
}

a:hover {
 color: #ddd;   
opacity: 0.9;
    text-decoration: none;

}

.error-explanation {
    color: black;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
}

/* homepage */

.btn-default {
 color: #222;
    background-color: white;
}

.btn-inactive {
    
}

.submit {
    margin-top: 25px;
}

.app-home {
  background-color:  #0b1733;
    color: white;
    text-align: center;
    margin: 0;
    clear: both;
    position: relative;
}

.streamer-yt {
 color: white;
    background-color: #58ba47;
    padding: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#search {
 height: 10px;
}

.other-game {
    width: 50%;
    margin: 20px 0 20px 0;
    height: 22px;
    font-size: 18px;
}

.intro-hp {
 color: white;
height: 100%;
        clear: both;

}

.search-content {
 text-align: center;
    min-height: 100vh;
}


.hp-cta {
 min-width: 300px;
    margin: 10px;
height: 100%;
    clear: both;
}

.hp-actions {
 text-align: right;
font-size: 0.8em;
}

.btn-home { 
    margin-left: 30px;
}

.landing-h3 {
 color: black;   
}

.homepage-glyph {
    margin-left: 30px;
    font-size: 0.8em;
    font-weight: 100;
    color: #58ba47;
    height: 100%;
}

.cta-holder {
 margin-bottom: 150px;
    height: 100%;
    clear: both;
}

.cta-holder h3 {
 margin-top: 15px;   
}

.second-cta-row {
    margin-top: 25px;
    min-width: 200px;
    height: 100%;
    text-align: center;
}

.homepage-desc {
 color: #222;   
    
}

.homepage-nav {
 color: white;
    background-color: #58ba47;
 text-align: center;   

}

.msg {
 text-align: center;   
}

.homepage-footer {
    width: 100%;
    margin-top: 20px;
    background-color: #58ba47;
    height: 132px;
    position: static;
    bottom: 0;
    color: #eee;
    padding: 10px;
    text-align: center;

}

.copyr {
    padding: 10px;
    text-align: center;
}

.login {
 font-size: 0.8em;   
}

/* Explainer stuff */

.explainer-instructions {
    font-size: 1.2em;
    line-height: 1.8em;
}

.explainer-wrapper {
/*     text-align: center;   */
}

.whatis {
 height: 100%;   
}

.keypoint {
margin-right: 45px;}

.explain-footer a {
color: #222;
}

.explainer {
 margin-right: 20px;   
}

.header-explainer {
 margin: 15px;   
}

.user-message {
 color: #666;   
}

.content {
 margin: 10px;
    background-color: white;
    padding: 15px;
}

.a-picture img {
    width: 100%;
    height: 100%;
    padding: 1%;
}


/* searches */

.results-text {
    color: #333;
}

.breaker {
 margin: 30px;   
}

.game-label-cover {
     min-width: 150px;
    margin-bottom: 25px;
}
.tag-label-cover {
    color: white;
}

.user-image {
 max-width: 210px;
    max-height: 210px;
    padding: 2px;
    background-color: white;
/*    margin-bottom: 15px;*/
    margin: 0 auto;
}


.user-image img {
 height: 100%;
    width: 100%;
}

.linkpic {
    width: 65px;
    height: 65px;
    margin: 20px;
    padding: 0;
    border: 1px solid #eee;
}

.link-image  {
    background-color: #666;
    width: 64px;
    height: 64px;
}


.result {
    margin: 3px;
    max-width: 210px;
    background-color: #eee;
    height: 100%;
    padding: 5px;
}

.status-cover {
    height: 25px;
    padding: 5px;
    text-align: center;
}

/*
not needed 

.select-label {
    z-index: -10;
    display:block;    
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px 10px 10px 0;

}
*/

.each-button {
 display: none;   
}

.game-pic {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
}

.game-panel {
     opacity: 0.7;
}
.select-panel:hover {
     opacity: 0.5;
}

.game-selector {
     height: 190px;   
}
.tag-selector {
    background-color: #0b1733;
    padding-bottom: 15px;
    width: 200px;
    font-size: 1.3em;
}

.select-panel {
    text-align: center;
} 
.select-panel img {
    height: 190px;
    width: 150px;
} 

.hp-feat-icon {
 font-size: 1.5em;
    padding: 15px;
    clear: both;
}

/*profiles*/

.profile-header {
 text-align: center;
    margin-bottom: 15px;
    height: auto;
}

.profile-top {
    color: white;
    background-color: #0b1733;
/*    background-image: url(/img1.jpg);*/
    background-size: cover;
    background-repeat: none;
    margin: -15px -15px 15px -15px;
}

.profile-body {
     background-color: #252c46;
    margin: -15px;
    height: auto;
}

.profile-buttons {
    margin: 20px;
    
}

.header-content {
 height: auto;
    padding: 15px;
}

.actions { /*edit only */
    margin-bottom: 15px;   
    margin-top: 15px;   
}

.on-page-navigation {
}

.profilelinks {
     margin-left: auto;
    margin-right: auto;
    width: 100%;  
    text-align: center;
}

.spacer {
margin: 30px;
}

.longdesc {
margin-top: 12px;
}
    

.party-option {
    background-color: #666;
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
}

.party-option-owner {
 text-align: center;   
}

.party-option-name {
    font-size: 2.5em;
}

.party-option-wrapper {
    height: 300px;
    padding: 10px;
    text-align: center;
}

.activeparties a {
    color: #eee;
}

.each-party {
 margin: 5px;   
}

.largetext {
 font-size: 1.2em;   
}

.profile-badge {
    text-align: center;
    min-width: 35px;
    min-height: 35px;
    margin: 8px 5px 0 0 ;
    color: white;   
    padding: 5px;   
    background-color: #58ba47;
}

.profile-cta {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

.signup-split {
    border-left: 2px solid #eee;
    height: 100%;
}

.user-type {
}

.custom-party-options {
    background-color: #0b1733;
    color: white;
    padding: 15px;
}

.games-section {}

/* as used on custom-party-options*/
.text-entry {
    color: #222;
    font-weight: 200;
    height: 30px;
    width: 600px;
}


/*   SIGNUPS */

.signup-p1 {
    text-align: center;   
    min-height: calc(100vh - 100px);   
    border-bottom: 2px solid #0b1733;
}

.signup-section-welcome {
 margin-bottom: 40px;   
}

.labels {
    text-align: left;
    color: #58ba47;
}

.inputs {
    height: 100%;
}

.field-sm {
 height: 40px;
    margin: 5px;
}
.field-md {
 height: 60px;
    margin: 5px;
}
.field-lg {
 height: 110px;
    margin: 5px;
}

#about-you-p2 {
    text-align: center;
    min-height: 100vh;
    border-bottom: 2px solid #0b1733;
}

#signup-p3 {
    text-align: center;
    min-height: 100vh;
}


.signup-nav-down {
    font-size: 2em;
    font-weight: 100;
    bottom: 5px;
    height: 28px;
    width: 28px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.signup-nav-page a {
 color: black;   
}
.signup-nav-page {
    height: 28px;
    width: 28px;
}

/*Split screen signup*/

.left {   
    background-color: #58ba47;
}

.right {
    background-color: #0b1733;   
}

.signup-choice {
    padding: 25px;
    height: 400px;
    color: white;
}

.signup-split-header {
    text-align: center;
    padding: 25px;  
}

.signup-choice-text {
    position: absolute;
    top: 45%;
    position: relative;
    transform: translateY(-50%);
}


.left:hover {
 color: #eee;
    opacity: 0.8;
}
.right:hover {
 color: #58ba47;
    opacity: 0.8;
}

/*ORIGINAL CSS*/

h1 {
    font-size: 4em;
 color: #fff;
}

h3 {
    font-weight: 100;
}
h4 {
    font-weight: 200;
}

.white {
 color: #fff;   
}


.logo {
    width: 100%;
    height: 100%;
}

.logo img {
 max-width:100%;
max-height:100%;   
}

.green {
 color: #58ba47;   
}
.btn-primary {
 background-color: #58ba47;
    border: none;
}
.btn-inactive {
border: 1px solid #eee;
}

.btn-inactive p { 
     color: #ccc;   
}

.row {
 margin: 0;   
}
.lrg {
 font-weight: 400;   
}

/* PAGE ONE */

.splash-hp {
    margin-top: -10px;
    text-align: center;
    min-height: 100vh;
    height: auto;
    position: relative;
}
.splash-standard {
    min-height: calc(100vh - 100px);
    height: 100%;
}

.describer {
   margin-top: 50px;   
padding-bottom: 50px;    
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

/* PAGE TWO */

.splash-two {
height: 100%;
    min-height: 100vh;
    padding-top: -50px;
}

.interest-header {
    margin-top: 5%;
    margin-bottom: 5px;
}


/*Can remove this?*/

.right-hand-panel {
    height: 100%;
    display: none;
}

/*-- */
#results-frame {
    display: none;
}


.two-panel-wrapper {
    padding: 15px 0 15px 0;
    height: auto;
    width: auto;
}
.two-panel-wrapper {
    text-align: left;
}

.two-panel-wrapper {
    font-size: 1.2em;   
}

.header-cta {
 float: left;
    height: auto;
}


.dropdown-icon-cta {
 float: right;
margin-top: 16px;
padding-bottom: 16px;
}

.panel-heading {
    height: 100%;
}

.image {
    background-color: #333;
    height: 100%;
    width: 100%;
}

/* mission statement section */

#about {
        background-image: url(/img/keyb.jpg);
        background-size: cover;
        height: 350px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    background-position: 50% 50%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.what-is-it {
    height: 100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
    margin-top: auto;
    margin-bottom: auto;
    display: block;
 font-weight: 100; 
    letter-spacing: 1px;
    text-align: center;
}
.what-is-it p {
    font-size: 1.5em;
}
.leadin {
    font-size: 1.5em;
}

  @media only screen and (max-width: 768px) {
      

      .dropdown-icon-cta {
       text-align: center; 
      }
      .header-cta {
       text-align: center; 
      }
      .interest-header {
       text-align: center; 
      }
  }

.what-is-it h3 {
 margin-top: 45px;
    margin-bottom: 25px;
}

/* signup form */

.signup {
 background-color: #0b1733;   
    color: #eee;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
}
#results-frame {
    display: none;
}

.smalltext {
 font-size: 0.8em;
    padding-top: 20px;
}
.dude {
    color: #bbb;
font-size: 1.2em;
text-align: center;
}