// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gamechoice {
    width: 100px;
    height: 100px;
    float: left;
    margin: 8px;
    color: white;
    background-color: lightslategrey;
    text-align: center;
}

.gamechoice:hover {
 background-color: slategray;
}
