<%= form_for PartyOption.new do |op| %>

<div class="field">
    <%= op.label :name %><br>
    <%= op.text_field :name, :value => 'Join me on stream for a game!', :class => "text-entry" %>
  </div>
<div class="field">
    <%= op.label :content %><br>
    <%= op.text_area :content, :value => 'A chance to appear on stream! I\'ll also feature you in my latest series.', :class => "text-entry" %>
  </div>
<div class="field">
    <%= op.label :price %><br>
    <%= op.number_field :price, :value => '6', :class => "text-entry" %>
  </div>
<br />
<%= op.submit "Save this custom party", :class => "btn btn-primary" %>

    <% end %>