<div class="custom-party-options col-sm-12 col-lg-6">

        <%= form_for PartyOption.new do |op| %>

<div class="field">
    <%= op.label :name %><br>
    <%= op.text_field :name,  :value => @party_option.name, :class => "text-entry" %>
    <p class="smalltext"><strong>Example:</strong> Join me on stream for a game!</p>
  </div>
<div class="field">
    <%= op.label :content %><br>
    <%= op.text_area :content,  :value => @party_option.content ,:class => "text-entry" %>
    <p class="smalltext"><strong>Example:</strong> A chance to appear on stream!</p>
  </div>
<div class="field">
    <%= op.label :price %><br>
    <%= op.number_field :price, :value => @party_option.price, :class => "text-entry" %>
  </div>
<br />
<%= op.submit "Save this custom party", :class => "btn btn-primary" %>
    <% end %>
        </div>