<h2>Fill in your options:</h2>
<h3>Create a new custom option:</h3>
        <p>Custom options let you create templates for players to select. Perfect to offer special deals, perhaps:</p>
        <li>Five coaching sessions with one free</li>
        <li>Special group session</li>
<%= render 'form' %>