<h2>Here's the <span class="green"><%= @party_option.name %></span> option:</h2>

<h3>Party option name</h3>
<p><%= @party_option.name %></p>
<br />
<h3>Content:</h3>
<p><%= @party_option.content %></p>
<p><%= @party_option.price %></p>


<% if logged_in? %>

<% if @party_option.user_id == current_user.id %>
<div class="btn-group btn-justified">
<%= link_to 'Edit', edit_party_option_path, class: 'btn btn-warning' %>
     <%= button_to "Delete", {:controller => "party_options", :action => 'destroy', :id => @party_option.id}, confirm: 'Are you certain you want to delete this?',  :method => :delete,
class: "btn btn-danger" %>
    <div class="row">
<%= link_to 'Back to your profile', user_path(current_user), class: 'btn btn-info' %>
<%= link_to 'Add another party option', new_party_option_path, class: 'btn btn-primary' %>
</div>
</div>
<% end %>
<% end %>
<%= link_to 'Start this party', {
    :action => :new, :controller => :parties, 
    :params => {previous_user:(@party_option.user_id), party_option_id: (@party_option.id)}
    
    }, class: 'btn btn-primary btn-xl' %>