<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h2>
        Welcome to Gathr.gg!
    </h2>
      <p>Onboarding etc</p>
  </body>
</html>