<%= form_for(@profilelink) do |c| %>
  <% if @profilelink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profilelink.errors.count, "error") %> prohibited this profilelink from being saved:</h2>

      <ul>
      <% @profilelink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
      <%= c.label "Web link" %><br>
    <%= c.text_field :url %>
  </div>

  <div class="field">
      <%= c.label "What type of link is this?" %><br>
      <% @labels = ["Twitch", "Twitter", "YouTube", "Website", "Stats", "Steam", "Other" ] %>
      <%= c.collection_select :name, @labels, :to_s, :to_s %> 
  </div>

  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
