<footer class="homepage-footer">
    <div class="container col-xs-12">
        
<div class="minifooter">
        <p>Game for fun, to get better, to find a team, play with a streamer or anything else. </p>
        <p>Any feedback would be awesome: <a href="mailto:joe@gathr.gg">joe@gathr.gg</a>. Happy gaming!</p>
    <p class="smalltext"><a href="/privacy">Privacy Policy</a></p>
    </div>
        </footer>
<% unless Rails.env.production? %>
<div class="col-xs-12">
    
<% debug(params) %>
</div>
    <% end %>