<nav class="nav-default">
    <div class="the-h1">
<a href="/"><h1>Gathr<span class="green">.gg</span></h1>
</a>
        </div>

    <div class="right-actions">
        <a data-toggle="collapse" data-target="#open-controls" ><span class="glyphicon glyphicon-option-vertical
 header-nav"></span>
        </a>
        
        <div id="open-controls" class="collapse">
    <% if logged_in? %>
            <div class="user-action">
<p>
                <%= link_to "Log out", logout_path %>
                </p>
                    </div>
            <div class="user-action">
                <p><%= link_to "Profile", user_path(current_user) %></p>
        </div>
<% else %>
        <div class="user-action">
<p><%= link_to 'Log in', login_path %></p>
        </div>
        <div class="user-action">
<p><%= link_to 'Sign up', new_user_path %></p></div>
        
    <% end %>
        </div>
        </div>
        </nav>
              <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>