<!DOCTYPE html>
<html lang="en">
<head>

<%= include_sync_config %>

<% if content_for?(:head) %>
    <%= content_for(:head) %>
<% else %>
  <title>Gathr.gg</title>
	<% end %>  
    
    <%= favicon_link_tag(source='/favico.gif') %>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77295078-5', 'auto');
  ga('send', 'pageview');

</script>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    
</head>
    <% if use_alternate_header? %>
    <!-- Render view under searches#new (homepage) -->
    <body>    
    <%= yield %>
            </body>
<%= render "layouts/footer" %>
    <% else %>
<body>
    <%= render "layouts/header" %>
    <div class="container-fluid splash-standard">
    <%= yield %>
        </div>
    
<%= render "layouts/footer" %>
        </body>
    <% end %>
</html>